:host {
  @import "../themes/variables.base.scss";
  background-color: #f6f7fb;
  display: flex;
  height: 100%;
  width: 100%;
}

::ng-deep .dx-theme-material-typography .dx-swatch-additional, .dx-theme-material-typography.dx-swatch-additional {
  background-color: #ffffff;
}
