.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 13px;
}

.angular-logo {
  width: 220px;
  height: 62px;
}

.plus {
  margin: 15px 10px;
  width: 22px;
  height: 22px;
}

.content-block h1 {
  font-size: 35px;
  font-weight: bold;

  span {
    color: red;
  }
}

:host-context(.screen-x-small) .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}
::ng-deep .row {
  width: 100%;
}

::ng-deep h2.content-block {
  margin: 20px 40px;
}

::ng-deep mat-form-field {
  width: 25%;
  margin-right: 10px;
}

::ng-deep .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #42d79d;
}
