<h2 class="content-block">Predict</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First sentence</mat-label>
        <textarea matInput></textarea>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Second sentence</mat-label>
        <textarea matInput></textarea>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button color="primary">Predict</button>
    </div>
  </div>
</div>
